/*
 Theme Name:   Ellen Child
 Theme URI:    https://themes.envytheme.com/ellen/
 Description:  Ellen Child Theme
 Author:       EnvyTheme
 Author URI:   https://envytheme.com/
 Template:     ellen
 Version:      2.6
*/